<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <networks>
      <network name="Hyves" ItemId="{21F729AE-6731-43B5-A131-749216780C75}" prefix="hv" icon="hyves" url="http://hyves.nl">
        <items>
          <message type="Sitecore.Social.Hyves.Publishing.Items.HyvesMessage, Sitecore.Social.Hyves" 
                   MessageTemplateId="{319D7C4F-AB38-4CBA-80A4-10BC852C7AB8}" 
                   Renderer="Sitecore.Social.Hyves.Publishing.Renderers.HyvesMessageRenderer, Sitecore.Social.Hyves"/>
        </items>
        <publishing>
          <campaigns rootCampaignItemId="{1BD24FDE-C3EC-479A-85CB-D3F919D5F925}">
            <campaign source="Goal" itemId="{5C3C2357-BB7A-446F-A169-E1B9B381AD5F}"/>
            <campaign source="Publish" itemId="{B9399D02-14BF-42EE-983B-EC8D28216D03}"/>
          </campaigns>
          <publisher type="Sitecore.Social.Hyves.Publishing.Providers.HyvesPublishProvider, Sitecore.Social.Hyves"/>
        </publishing>
        <providers>
          <provider type="Sitecore.Social.Hyves.Providers.HyvesProvider, Sitecore.Social.Hyves"/>
        </providers>
      </network>
    </networks>
  </sitecore>
</configuration>
