<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <socialProfileKeyMappings>
      <network name="Hyves">
        <field enabled="true" originalKey="userid" selectToken="user[0].userid" sitecoreKey="hv_userid" method="users.getLoggedin" text="User Id"/>
        <field enabled="true" originalKey="displayname" selectToken="user[0].displayname" sitecoreKey="hv_displayname" method="users.getLoggedin" text="Display Name"/>
        <field enabled="true" originalKey="firstname" selectToken="user[0].firstname" sitecoreKey="hv_firstname" method="users.getLoggedin" text="First Name"/>
        <field enabled="true" originalKey="lastname" selectToken="user[0].lastname" sitecoreKey="hv_lastname" method="users.getLoggedin" text="Last Name"/>
        <field enabled="true" originalKey="gender" selectToken="user[0].gender" sitecoreKey="hv_gender" method="users.getLoggedin" text="Gender"/>
        <field enabled="true" originalKey="birthday" selectToken="user[0].birthday" sitecoreKey="hv_birthday" method="users.getLoggedin" text="Birthday"/>
      </network>
    </socialProfileKeyMappings>
  </sitecore>
</configuration>
